#advertising {
  /* display: none; */
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 100px 380px; */
  background-color: var( --background-light-grey);
}

#advertising .h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: var(--text-color-blue);
  margin: 100px 0 60px;
}

.ul-advertising {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
  margin-bottom: 100px;
}

.ul-advertising li {
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color-blue-grey);

  span {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--text-color-blue);
  }
}

.ul-advertising:last-child span {
  position: relative;
}

.ul-advertising:last-child span .info-tooltip {
  position: absolute;
  display: inline-block;

  width: 24px;
  height: 24px;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  top: 0px;
  left: 115px;
  background-color: rgba(20, 16, 36, 0.08);
  border-radius: 50%;
  cursor: pointer;
}

.ul-advertising li .tooltip-text {
  position: absolute;
  width: 251px;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  color: var(--text-color-blue);
  background: var(--text-color-light);
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  border-radius: 5px;
  transition: opacity 1s;
}

.ul-advertising:last-child span .info-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1190px) {
  .ul-advertising li .tooltip-text {
    left: -65px;
  }
}

@media (max-width: 320px) {
  #advertising {
    /* display: none; */
  }

  #advertising .h2 {
    font-size: 30px;
    text-align: center;
    line-height: 140%;
    margin: 40px 0 46px;
  }

  .ul-advertising {
    flex-direction: column;
    gap: 33px;
    margin: 0 10px 40px;
  }
  
  .ul-advertising li {
    width: 300px;
    align-items: center;
    text-align: center;
    font-size: 16px;

    span {
      font-size: 20px;
      line-height: 100%;
    }
  }

  .ul-advertising:last-child span .info-tooltip {
    left: 100px;
    top: -5px;
  }

  .ul-advertising li .tooltip-text {
    width: 224px;
    left: -165px;
    bottom: 35px;
    font-size: 14px;
    line-height: 52px;
  }
}
