.header {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark-blue);

}

.logo {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--text-color-light);
}

ul {
  display: flex;
  gap: 40px;
  padding-left: 30px;

}

a {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color-light);
}

.tel {
  font-weight: 600;
  font-size: 30px;
  color: var(--text-color-light);
}