#pricing {
  max-width: 1920px;
  margin: 0 auto;
}

.h2-pricing {
  font-size: 50px;
  font-weight: 600;
  margin: 0px 0 80px;
}

.ul-price {
  padding-left: 0;
  margin-bottom: 142px;
}

.h3-pricing {

font-weight: 600;
font-size: 30px;
line-height: 160%;
text-align: center;
margin-bottom: 63px;
}

.price {
font-weight: 600;
font-size: 50px;
line-height: 160%;
text-align: center;
margin-bottom: 20px;
}

.p-pricing {
font-weight: 400;
font-size: 18px;
line-height: 160%;
text-align: center;
}

.price-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 460px;
  padding: 40px;
  border: 1px solid var(--text-color-blue-grey);
  border-radius: 20px;
  color: var(--text-color-blue);
  transition: all 0.3s;

}

.btn-price {
  width: 280px;
  position: absolute;
  top: 340px;
  right: 40px;
}

.price-item:hover {
  transform: scale(1, 1.1);
  color: var(--text-color-light);
  background: var(--background-dark-blue);
}

@media (max-width: 320px) {
  #pricing {
    /* display: none; */
  }

  .h2-pricing {
    max-width: 260px;
    font-size: 30px;
    text-align: center;
    margin: 60px 0 60px;
  }

  .ul-price {
    flex-direction: column;
    gap: 35px;
    margin-bottom: 55px;
  }

  .price-item {
    width: 300px;
    height: 394px;
    padding: 25px;

  }

  .h3-pricing {
    margin: 10px 0 40px;
  }

  .price {
    margin-bottom: 20px;
  }
  
  .p-pricing {
    /* max-width: 195px; */
    font-size: 16px;
  }

  .btn-price {
    width: 260px;

    top: 290px;
    right: 20px;
  }
}