@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./advertising.css";
@import "./trainers.css";
@import "./pricing.css";
@import "./contacts.css";
@import "./footer.css";
@import "./modal.css";

:root {
  --background-dark-blue: #141024;
  --background-accent: #d52027;
  --background-light-grey: #F9F9F9;
  --text-color-blue: #141024;
  --text-color-blue-grey: #141024b3;
  --text-color-light: #fff;
  --text-color-light-grey: rgba(20, 16, 36, 0.2); /* #141024 */
  --text-color-accent: #d52027;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
  font-style: normal;
}


.lock {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}

.overlay-on {
  opacity: 1;
  visibility: visible;
  background-color: rgba(41, 41, 41, 0.6);
}
