@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./advertising.css";
@import "./trainers.css";
@import "./pricing.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
  font-style: normal;
}

:root {
  --background-dark-blue: #141024;
  --background-accent: #d52027;
  --background-light-grey: #F9F9F9;
  --text-color-blue: #141024;
  --text-color-blue-grey: #141024b3;
  --text-color-light: #fff;
  --text-color-accent: #d52027;
}
