#trainers {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  padding: 125px 0 130px;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  max-width: 1160px;
  /* overflow-x: scroll; */
}

.slider {
  width: 1960px;
  display: flex;
  /* justify-content: end; */
  gap: 40px;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  border-radius: 20px;
  margin-bottom: 15px;
}

.h2-trainers {
  width: 100%;
  max-width: 1160px;
  text-align: left;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 65px;
}

#trainers .h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
  color: var(--text-color-blue);
  margin-bottom: 10px;
}

#trainers .p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--text-color-blue-grey);
  margin-bottom: 20px;
}

.details {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--text-color-accent);
  cursor: pointer;
  margin-bottom: 60px;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  justify-content: end;
  gap: 15px;
  padding-right: 15px;
}

.arrow-left,
.arrow-right {
  width: 33px;
  height: 33px;
  background-color: #230b34;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media (max-width: 320px) {
  #trainers {
    /* display: none; */
    max-width: 320px;
    padding: 0;
    margin: 0;
  }

  .slider-wrapper {
    max-width: 300px;
    overflow-x: scroll;
    /* scrollbar-width: 5px; */
  }

  .slider {
    width: 1140px;
    gap: 20px;
  }

  .slider img {
    width: 220px;
    height: 306px;
  }

  .h2-trainers {
    text-align: center;
    margin: 70px 0 35px;
    font-size: 30px;
  }

  #trainers .h4 {
    font-size: 20px;
  }

  #trainers .p {
    font-size: 14px;
  }

  .details {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .slider-buttons {
    display: none;
  }
}
